<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.accountInforController.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.accountInforController.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassController</servlet-name>
        <servlet-class>com.accountInforController.ChangePassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPassController</servlet-name>
        <servlet-class>com.accountInforController.ForgetPassController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeDetailController</servlet-name>
        <servlet-class>com.accountInforController.ChangeDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.accountInforController.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountPageController</servlet-name>
        <servlet-class>com.accountPageController.AccountPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>com.homeController.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FriendController</servlet-name>
        <servlet-class>com.accountPageController.FriendController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestFriendController</servlet-name>
        <servlet-class>com.accountPageController.RequestFriendController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnnouncementController</servlet-name>
        <servlet-class>com.homeController.AnnouncementController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmotionController</servlet-name>
        <servlet-class>com.homeController.EmotionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportController</servlet-name>
        <servlet-class>com.adminController.AdminPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChatController</servlet-name>
        <servlet-class>com.homeController.ChatController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmotionController</servlet-name>
        <url-pattern>/EmotionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassController</servlet-name>
        <url-pattern>/ChangePass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPassController</servlet-name>
        <url-pattern>/ForgetPass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeDetailController</servlet-name>
        <url-pattern>/ChangeDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountPageController</servlet-name>
        <url-pattern>/AccountPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FriendController</servlet-name>
        <url-pattern>/Friend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestFriendController</servlet-name>
        <url-pattern>/RequestFriend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnnouncementController</servlet-name>
        <url-pattern>/Announcement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportController</servlet-name>
        <url-pattern>/ReportPage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChatController</servlet-name>
        <url-pattern>/Chat</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>